.header {
    background-color: $light-pink;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    &__logo--img {
        width: 79px;
    }
}